/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --nav-hover-effect: rgba(50, 49, 45, .4);
  --main-background-color: #fff1f7;
  --main-heading-text-color: #353430;
  --main-font: 'IBM Plex mono', monospace;
  --main-text-color: #353430;
  --main-nav-color: #353430;
  --main-header-title: #ffc2e6;
  --main-header-shadow: #ff8dcb;
  --main-section-heading-color: #353430;
  --display-none: none;
  --image-disp: url(../images/bg-img/cover-image-light.png);
}

.header__decor {
  display: var(--display-none);
}

.header {
  background-image: var(--image-disp);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-background-color: #fff1f7;
    --main-heading-text-color: #353430;
    --main-font: 'IBM Plex mono', monospace;
    --main-text-color: #353430;
    --main-nav-color: #353430;
    --main-header-title: #ffc2e6;
    --main-header-shadow: #ff8dcb;
    --main-section-heading-color: #353430;
    --display-none: none;
    --image-disp: url(../images/bg-img/cover-image-light.png);
  }

  .header {
    background-image: var(--image-disp);
  }

  .header__decor {
    display: var(--display-none);
  }
}