/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header__theme-menu-list {
  list-style: none;
}

.header__theme-menu-button {
  color: var(--mainColor);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: transparent;
  border: none;
}

.header__theme-menu-button_active {
  display: inline-flex;
  border: 1px solid var(--mainColor);
}

@media (width >= 375px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
  }
}

@media (width >= 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
}