/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: calc(var(--main-gap) * 2);
  font-size: var(--main-text-size);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  block-size: 100vh;
  min-block-size: 768px;
}

.header__theme-menu-list {
  display: flex;
  gap: calc(var(--main-gap) + 8px);
}

.header__theme-menu {
  justify-self: center;
  align-self: flex-start;
}

.header__theme-menu-button {
  position: relative;
  border: 1px solid transparent;
  color: var(--main-nav-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-nav-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--main-nav-color);
}

.header__text-title {
  color: var(--main-header-title);
  text-shadow: 4px 4px 0 var(--main-header-shadow);
  line-height: 82.5%;
  font-size: 157px;
  justify-self: start;
}

/* надпись REC */
.header__decor {
  position: absolute;
  color: var(--main-nav-color);
  font-size: var(--main-text-size);
  line-height: 1.3;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 39px);
  inset-block-start: calc(var(--main-gap) + 13px);
}

.header__decor::after {
  content: 'rec';
}

.header__decor::before {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  margin: -5px -20px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--main-nav-color);
  background-color: var(--main-nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--main-nav-color);
  border-block-end: 1px solid var(--main-nav-color);
  inset-inline-start: calc(var(--main-gap) * 2);
  inset-block-end: calc(var(--main-gap) * 2);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--main-nav-color);
  border-block-start: 1px solid var(--main-nav-color);
  inset-inline-end: 20px;
  inset-block-start: 20px;
}
/* конец надпись REC */


.header__text-block {
  background-color: var(--accent-color);
  inline-size: 50%;
  justify-self: end;
  align-items: center;
}

.header__text-paragraph {
  color: var(--main-heading-text-color);
  font-weight: bold;
  font-size: var(--main-text-size);
  line-height: 130%;
}

.content {
  padding: calc(6 * var(--main-gap)) calc(2 * var(--main-gap));
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--main-gap) * 2);
}

.content__section:not(:last-of-type) {
  margin-block-end: calc(var(--main-gap) * 8);
}

.content__section-title {
  font-weight: normal;
  color: var(--main-section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content__section-block {
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-gap) * 2);
}

.content__article-title {
  font-weight: normal;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  background-color: var(--accent-color);
  color: var(--main-heading-text-color);
}

.content__article-title_bold {
  font-weight: bold;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  background-color: var(--accent-color);
  color: var(--main-heading-text-color);
}

.content__section-title_bold {
  font-weight: bold;
  color: var(--main-section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content__text-paragraph {
  color: var(--main-text-color);
  margin-block-start: var(--main-gap);
}

.why .content__section-block {
  grid-column: span 2;
}

.what .content__section-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--main-gap) * 2);
  grid-column: 1 / -1;
  grid-row: span 2;
}

.how .content__section-block {
  grid-column: 2 / -1;
}

.content__image-grid {
  block-size: 100%;
  inline-size: 100%;
}

.content__section-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}