/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-background-color: #000028;
  --main-font: 'IMB Plex mono', sans-serif;
  --main-text-color: #f1b2ce;
  --main-nav-color: #ff0070;
  --main-header-title: #db00ff;
  --main-header-shadow: #ff0070;
}
