/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-background-color: #000028;
  --main-heading-text-color: #000028;
  --main-font: 'IBM Plex mono', monospace;
  --main-text-color: #f1b2ce;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --main-gap: 10px;
  --main-nav-color: #ff0070;
  --main-header-title: #db00ff;
  --main-header-shadow: #ff0070;
  --main-section-heading-color: #ff0070;
}

@media screen and (width <= 375px) { 
  :root {
    --footer-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media screen and (width >= 768px) {
  :root {
    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

