/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-background-color: #000028;
  --main-heading-text-color: #000028;
  --main-font: 'IBM Plex mono', monospace;
  --main-text-color: #f1b2ce;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --main-gap: 10px;
  --main-nav-color: #ff0070;
  --main-header-title: #db00ff;
  --main-header-shadow: #ff0070;
  --main-section-heading-color: #ff0070;
}
